<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-primary">
          <h5><i class="fa fa-lock"></i> Change Password</h5>
          <!--<button class="btn btn-square btn-success btn-sm btn-sm-custom float-right" (click)="addChangePasswordModal.show()"><i class="fa fa-plus"></i> Add New Fiscal Year</button>-->
        </div>
        <div class="card-body">
          <form [formGroup]="passwordForm" class="form-horizontal">
            <div class="row">
              <div class="col-lg-6 mx-auto">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="old-input">Old Password</label>
                    <div class="col-md-9">
                        <input type="password" formControlName="old_password" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" id="old-input" class="form-control" placeholder="Old Password">
                        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                          <span *ngIf="f.old_password.errors.required" class="text-danger"> Old Password is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="new-input">New Password</label>
                    <div class="col-md-9">
                        <input type="password" formControlName="new_password" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" id="new-input" class="form-control" placeholder="New Password">
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                          <span *ngIf="f.new_password.errors.required" class="text-danger"> New Password is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="confirm-input">Confirm Password</label>
                    <div class="col-md-9">
                        <input type="password" formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" id="confirm-input" class="form-control" placeholder="Confirm Password">
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                          <span *ngIf="f.confirm_password.errors.required" class="text-danger"> Confirm Password is required</span>
                          <span *ngIf="f.confirm_password.errors.mustMatch" class="text-danger">Passwords does not match</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="confirm-input"></label>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-info" (click)="onFormSubmit()">{{ btnSaveText }}</button>
                    </div>
                </div>
              </div>
            </div>
            
        </form>
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>

<!--<div bsModal #addChangePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passwordForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Company</label>
                <div class="col-md-9">
                    <ng-select [items]="companyList" bindLabel="name" 
                     bindValue="id" formControlName="company_id" placeholder="Select Company"
                      [ngClass]="{ 'is-invalid': submitted && f.company_id.errors }" >
                     </ng-select>
                    <div *ngIf="submitted && f.company_id.errors" class="error-text">
                      <span *ngIf="f.company_id.errors.required" class="text-danger"> Company is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Fiscal Year</label>
                <div class="col-md-9">
                    <input type="text" formControlName="fiscal_year" [ngClass]="{ 'is-invalid': submitted && f.fiscal_year.errors }" id="text-input" name="text-input" class="form-control" placeholder="Fiscal Year">
                    <div *ngIf="submitted && f.fiscal_year.errors" class="invalid-feedback">
                      <span *ngIf="f.fiscal_year.errors.required" class="text-danger"> Fiscal Year is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="start_date">Start Date</label>
                <div class="col-md-9">
                    <input type="date" formControlName="start_date" [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }" id="start_date" class="form-control" placeholder="Start Date">
                    <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                      <span *ngIf="f.start_date.errors.required" class="text-danger"> Start Date is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="end_date">End Date</label>
                <div class="col-md-9">
                    <input type="date" formControlName="end_date" [ngClass]="{ 'is-invalid': submitted && f.end_date.errors }" id="end_date" class="form-control" placeholder="End Date">
                    <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
                      <span *ngIf="f.end_date.errors.required" class="text-danger"> Contact No is required</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Is Active</label>
                <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" formControlName="is_active" type="checkbox" id="is_active">
                        <label class="form-check-label" for="is_active">Active</label>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-info" (click)="onFormSubmit()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>-->