.align-items-center {
    align-items: center !important;
}

.login-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.image-div{
    padding: 5px;
    width: 100%;
    border: 5px solid #c1c1c1;
    border-radius: 5px;
}