<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-blue">
          <h5><i class="fa fa-braille"></i> Attendance Log</h5>
          <button class="btn btn-square btn-secondary btn-sm btn-sm-custom float-right" (click)="addFiscalYearModal.show()"><i class="fa fa-plus"></i> Upload Punch Log</button>
        </div>
        <div class="card-body table-responsive">
          <div class="row">
            <ng-select [items]="employeeList" bindLabel="name" class="col-lg-2 form-control-sm float-right fs-top"
              bindValue="id" [(ngModel)]="employee_id" (change)="onChangeEmployee($event)" placeholder="Select Employee">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <span><strong>{{ item.name }} - {{item.email}}</strong></span>
                  </ng-template>
            </ng-select>
            <div class="col-lg-2 form-control-sm float-right fs-top">
              <input type="date"  [(ngModel)]="start_date" id="start_date" class="form-control" placeholder="Start Date">
            </div>
            <div class="col-lg-2 form-control-sm float-right fs-top">
              <input type="date"  [(ngModel)]="end_date" id="end_date" class="form-control" placeholder="End Date">
            </div>
            <ng-select [items]="grace_time" bindLabel="value" class="col-lg-2 form-control-sm float-right fs-top"
              bindValue="id" [(ngModel)]="start_grace_time" placeholder="Start Grace Time">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <span><strong>{{ item.value }}</strong></span>
                  </ng-template>
            </ng-select>
            <ng-select [items]="grace_time" bindLabel="value" class="col-lg-2 form-control-sm float-right fs-top"
              bindValue="id" [(ngModel)]="end_grace_time" placeholder="End Grace Time">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <span><strong>{{ item.value }}</strong></span>
                  </ng-template>
            </ng-select>
            <button class="btn btn-square bg-blue" (click)="getFilterList()"><i class="fa fa-filter"></i> Filter</button>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-3 mb-3">
              <div class="summary-grid">
                <div class="summary-card">
                    <div class="card-content working-days">
                        <div class="card-label">Total Working Days</div>
                        <div class="card-value">{{ total_working_days }}</div>
                    </div>
                </div>
                <div class="summary-card">
                    <div class="card-content present">
                        <div class="card-label">Present Days</div>
                        <div class="card-value">{{ total_present_days }}</div>
                    </div>
                </div>
                <div class="summary-card">
                    <div class="card-content weekend">
                        <div class="card-label">Weekend & Holiday</div>
                        <div class="card-value">{{ total_weekend_holiday }}</div>
                    </div>
                </div>
                <div class="summary-card">
                    <div class="card-content sick">
                        <div class="card-label">Leave</div>
                        <div class="card-value">{{ total_leave_days }}</div>
                    </div>
                </div>
                <div class="summary-card">
                    <div class="card-content absent">
                        <div class="card-label">Absent</div>
                        <div class="card-value">{{ total_absent_days }}</div>
                    </div>
                </div>
                <div class="summary-card">
                    <div class="card-content late">
                        <div class="card-label">Total Late In</div>
                        <div class="card-value">{{ total_late }}</div>
                    </div>
                </div>
                <div class="summary-card">
                    <div class="card-content early">
                        <div class="card-label">Total Early Out</div>
                        <div class="card-value">{{ total_early_out }}</div>
                    </div>
                </div>
                <div class="summary-card">
                  <div class="card-content present">
                      <div class="card-label">Expected Working Hours</div>
                      <div class="card-value">{{ expected_working_hour }}</div>
                  </div>
                </div>
                <div class="summary-card">
                  <div class="card-content present">
                      <div class="card-label">Total Working Hours</div>
                      <div class="card-value">{{ total_working_hr }}</div>
                  </div>
                </div>
                <div class="summary-card">
                  <div class="card-content present">
                      <div class="card-label">Extra Hours</div>
                      <div class="card-value">{{ total_over_time }}</div>
                  </div>
                </div>
                
            </div>



            </div>
          </div>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Working Hour</th>
                <th>Day Type</th>
                <th>Late In</th>
                <th>Early Out</th>
                <th>Log History</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of attendanceList; let i = index;">
                <td><i>{{ item.log_date | date: 'longDate' }}</i></td>
                <td>
                  <span *ngIf="item.late_in" class="total_hr_red">{{ item.start_time }}</span>
                  <span *ngIf="!item.late_in" class="total_hr_green">{{ item.start_time }}</span>
                </td>
                <td>
                  <span *ngIf="item.early_out" class="total_hr_red">{{ item.end_time }}</span>
                  <span *ngIf="!item.early_out" class="total_hr_green">{{ item.end_time }}</span>
                </td>
                <td>
                    <span *ngIf="item.has_working_hour_completed" class="total_hr_green">{{ item.total_time }}</span>
                    <span *ngIf="!item.has_working_hour_completed" class="total_hr_red">{{ item.total_time }}</span>
                </td>
                <td>
                  <span class="status-badge present" *ngIf="item.day_code == 'P'" style="color: GREEN;">{{ item.day_code }}</span>
                  <span class="status-badge present" *ngIf="item.day_code != 'P'" style="color: RED;">{{ item.day_code }}</span>
                </td>
                <td class="text-center">
                    <span *ngIf="item.late_in" class="total_hr_red"><i class="fa fa-check"></i></span>
                </td>
                <td class="text-center">
                    <span *ngIf="item.early_out" class="total_hr_red"><i class="fa fa-check"></i></span>
                </td>
                <td><small><span class="punch_time">{{ item.punch_time }}</span></small></td>
              </tr>
              <tr *ngIf="attendanceList.length <= 0">
                <td colspan="10">No Data Found!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            {{ attendanceList.length }} Rows
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>

<div bsModal #addFiscalYearModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-blue" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
            <input type="file" class="btn btn-block btn-blue" (change)="addfile($event)" accept=".csv" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-blue" (click)="submitPunchLog()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>