<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-blue">
          <h5><i class="fa fa-braille"></i> My Attendance Log</h5>
          <div class="col-lg-2 form-control-sm float-right fs-top">
            <input type="date"  [(ngModel)]="end_date" (change)="changeFilterDate()" id="end_date" class="form-control" placeholder="End Date">
          </div>
          <div class="col-lg-2 form-control-sm float-right fs-top">
            <input type="date"  [(ngModel)]="start_date" (change)="changeFilterDate()" id="start_date" class="form-control" placeholder="Start Date">
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Working Hour</th>
                <th>Late In</th>
                <th>Early Out</th>
                <th>Log History</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of attendanceList; let i = index;">
                <td><i>{{ item.log_date | date: 'longDate' }}</i></td>
                <td>
                  <span *ngIf="item.late_in" class="total_hr_red">{{ item.start_time }}</span>
                  <span *ngIf="!item.late_in" class="total_hr_green">{{ item.start_time }}</span>
                </td>
                <td>
                  <span *ngIf="item.early_out" class="total_hr_red">{{ item.end_time }}</span>
                  <span *ngIf="!item.early_out" class="total_hr_green">{{ item.end_time }}</span>
                </td>
                <td>
                    <span *ngIf="item.has_working_hour_completed" class="total_hr_green">{{ item.total_time }}</span>
                    <span *ngIf="!item.has_working_hour_completed" class="total_hr_red">{{ item.total_time }}</span>
                </td>
                <td class="text-center">
                    <span *ngIf="item.late_in" class="total_hr_red"><i class="fa fa-check"></i></span>
                </td>
                <td class="text-center">
                    <span *ngIf="item.early_out" class="total_hr_red"><i class="fa fa-check"></i></span>
                </td>
                <td><small><span class="punch_time">{{ item.punch_log }}</span></small></td>
              </tr>
              <tr *ngIf="attendanceList.length <= 0">
                <td colspan="7">No Data Found!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            {{ attendanceList.length }} Rows
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>

<div bsModal #addFiscalYearModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-blue" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
            <input type="file" class="btn btn-block btn-blue" (change)="addfile($event)" accept=".csv" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-blue" (click)="submitPunchLog()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>