.align-items-center {
    align-items: center !important;
}

.login-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.avatar-img{
    width: 30px !important;
    height: 30px !important;
}  

.details-avatar-img{
    width: 60px !important;
}     

.profile-image-avater{
    padding: 5px;
    width: 245px;
    border: 5px solid #c1c1c1;
    border-radius: 5px;
}