<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-blue">
          <h5><i class="fa fa-list"></i> Auto Balance</h5>
          <button class="btn btn-square btn-secondary btn-sm btn-sm-custom float-right" (click)="addHsepBalanceModal.show()"><i class="fa fa-plus"></i> Add New Monthly Balance</button>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Balance Added Date</th>
                <th>Month</th>
                <th>Year</th>
                <th>Added By</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of balanceList; let i = index;">
                <td>{{ item.created_at | date:'fullDate' }}</td>
                <td>{{ item.created_at | date:'MMMM'}}</td>
                <td>{{ item.created_at | date:'YYYY' }}</td>
                <td>
                  {{ item.user_name }}
                </td>
              </tr>
              <tr *ngIf="balanceList.length <= 0">
                <td colspan="5">No Balance added</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            {{ balanceList.length }} Rows
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>

<div bsModal #addHsepBalanceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-blue" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <button class="btn btn-block btn-blue" (click)="addHsepBalance()">Add Balance</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
      </div>
    </div>
  </div>
</div>

