<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12" *ngIf="user_role == 'Employee'">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue">
            <div class="card-body pb-0">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Total Applications</strong> <span class="float-right text-value">{{ dashboard.count_total }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ dashboard.count_total }}</div>
              <div class="mb-4"><strong>Total Applications</strong></div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue">
            <div class="card-body pb-0">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Approved Applications</strong> <span class="float-right text-value">{{ dashboard.count_approved }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ dashboard.count_approved }}</div>
              <div class="mb-4"><strong>Approved Applications</strong></div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue">
            <div class="card-body pb-0">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Pending</strong> <span class="float-right text-value">{{ dashboard.count_pending }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ dashboard.count_pending }}</div>
              <div class="mb-4"><strong>Pending</strong></div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue">
            <div class="card-body pb-0">
            <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Rejected</strong> <span class="float-right text-value">{{ dashboard.count_rejected }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ dashboard.count_rejected }}</div>
              <div class="mb-4"><strong>Rejected</strong></div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12" *ngIf="user_role != 'Employee' && is_subordinate_summary_loaded">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue">
            <div class="card-body pb-0">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Total Applications</strong> <span class="float-right text-value">{{ subordinateSummary.count_total }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <div class="text-value" *ngIf="is_loaded">{{ subordinateSummary.count_total }}</div>
              </button>
              <div class="mb-4"><strong>Total Applications</strong></div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue link-href">
            <div class="card-body pb-0" [routerLink]="['/leave/approval-approved-leave-list']">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Approved</strong> <span class="float-right text-value">{{ subordinateSummary.count_approved }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ subordinateSummary.count_approved }}</div>
              <div class="mb-4"><strong>Approved</strong></div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue link-href">
            <div class="card-body pb-0" [routerLink]="['/leave/approval-pending-leave-list']">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Pending</strong> <span class="float-right text-value">{{ subordinateSummary.count_pending }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ subordinateSummary.count_pending }}</div>
              <div class="mb-4"><strong>Pending</strong></div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-blue link-href">
            <div class="card-body pb-0" [routerLink]="['/leave/approval-rejected-leave-list']">
              <div *ngIf="is_loaded" class="col-sm-12 mb-4"><strong>Rejected</strong> <span class="float-right text-value">{{ subordinateSummary.count_rejected }}</span></div>
              <!--<button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-notebook"></i>
              </button>
              <div class="text-value" *ngIf="is_loaded">{{ subordinateSummary.count_rejected }}</div>
              <div class="mb-4"><strong>Rejected</strong></div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-lg-12" *ngIf="user_role != 'Employee'">
      <div class="card border-top-info border-top-3 mb-3">
          <div class="card-header bg-blue card-title"><strong><i class="fa fa-cubes"></i> Subordinate leave list</strong></div>
          <div class="card-body text-dark table-responsive" *ngIf="is_list_loaded">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Applicant</th>
                  <th>Leave Type</th>
                  <th>Applied Date</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Applied For</th>
                  <th>Is Half Day</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of subordinateApplicationList | slice:0:3; let i = index;">
                  <td>{{ item.employee_name }}</td>
                  <td><strong>{{ item.leave_title }}</strong></td>
                  <td>{{ item.created_at | date:'dd/MM/y'}}</td>
                  <td class="text-hilighted-bg"><strong>{{ item.start_date | date:'dd/MM/y'}}</strong></td>
                  <td class="text-hilighted-bg"><strong>{{ item.end_date | date:'dd/MM/y' }}</strong></td>
                  <td><strong>{{ item.total_applied_days }}</strong> Days</td>
                  <td>
                      <span *ngIf="item.is_half_day" class="status bg-success">Yes ({{ item.half_day }})</span>
                      <span *ngIf="!item.is_half_day" class="status bg-secondary">No</span>
                  </td>
                  <td>
                      <button type="button"  *ngIf="item.leave_status == 'Pending'" class="btn btn-warning btn-sm"><strong>{{ item.leave_status }}</strong></button>
                      <button type="button"  *ngIf="item.leave_status == 'Approved'" class="btn btn-success btn-sm"><strong>{{ item.leave_status }}</strong></button>
                      <button type="button"  *ngIf="item.leave_status == 'Rejected'" class="btn btn-danger btn-sm"><strong>{{ item.leave_status }}</strong></button>
                  </td>
                  <td>
                      <button class="btn btn-blue btn-sm" [routerLink]="['/leave/approval-leave-details', item.id ]"><i class="fa fa-eye"></i>&nbsp;Details</button>
                  </td>
                </tr>
                <tr *ngIf="subordinateApplicationList.length <= 0">
                  <td colspan="9">No Leave Found!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
              {{ subordinateApplicationList.length }} Rows
              <span class="float-right" *ngIf="subordinateApplicationList.length >= 0"><a [routerLink]="['/leave/approval-pending-leave-list']" class="link-info">See All..</a></span>
          </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card border-top-primary border-top-3 mb-3">
          <div class="card-header bg-blue card-title"><strong><i class="fa fa-calendar"></i> Academic Calendar</strong></div>
          <div class="card-body text-dark table-responsive" *ngIf="is_calender_loaded">
            <ngx-fullcalendar #theCalendar defaultView="month" [events]="events" [options]="options"></ngx-fullcalendar>
          </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
            <div class="card border-top-primary border-top-3 mb-3">
                <div class="card-header bg-blue card-title"><strong><i class="fa fa-list"></i> My Leave list</strong></div>
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-sm-12 table-responsive" *ngIf="is_loaded">
                            <table class="table table-bordered table-sm">
                              <thead>
                                <tr>
                                  <th>Type</th>
                                  <th>Start</th>
                                  <th>End</th>
                                  <th>Days</th>
                                  <th>Is Half Day</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of applicationList | slice:0:2; let i = index;">
                                  <td>{{ item.leave_title }}</td>
                                  <td>{{ item.start_date | date:'dd/MM/y'}}</td>
                                  <td>{{ item.end_date | date:'dd/MM/y' }}</td>
                                  <td>{{ item.total_applied_days }} Days</td>
                                  <td>
                                      <span *ngIf="item.is_half_day" class="status bg-success">Yes ({{ item.half_day }})</span>
                                      <span *ngIf="!item.is_half_day" class="status bg-secondary">No</span>
                                  </td>
                                  <td>
                                      <button type="button"  *ngIf="item.leave_status == 'Pending'" class="btn btn-warning btn-sm"><strong>{{ item.leave_status }}</strong></button>
                                      <button type="button"  *ngIf="item.leave_status == 'Approved'" class="btn btn-success btn-sm"><strong>{{ item.leave_status }}</strong></button>
                                      <button type="button"  *ngIf="item.leave_status == 'Rejected'" class="btn btn-danger btn-sm"><strong>{{ item.leave_status }}</strong></button>
                                  </td>
                                </tr>
                                <tr *ngIf="applicationList.length <= 0">
                                  <td colspan="6">No Leave Applied!</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="card border-top-primary border-top-3 mb-3">
                <div class="card-header bg-blue card-title"><strong><i class="fa fa-braille"></i> Notice</strong></div>
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-sm-12 table-responsive" *ngIf="is_loaded">
                        
                          <div class="row">
                            <div class="col-sm-12" *ngFor="let item of noticeList | slice:0:3; let i = index;">
                              <div class="notice notice-success" *ngIf="item.notice_type == 'Low'">
                                <div class="row">
                                  <div class="col-lg-10">
                                    <strong>{{ item.title }}</strong> 
                                    <br/>{{ item.description }}
                                  </div>
                                  <div class="col-lg-2">
                                    <span class="pull-right text-success readMore">Read</span>
                                  </div>
                                </div>
                              </div>
                              <div class="notice notice-danger" *ngIf="item.notice_type == 'High'">
                                  <div class="row">
                                  <div class="col-lg-10">
                                    <strong>{{ item.title }}</strong> 
                                    <br/>{{ item.description }}
                                  </div>
                                  <div class="col-lg-2">
                                    <span class="pull-right text-success readMore">Read</span>
                                  </div>
                                </div>
                              </div>
                              <div class="notice notice-warning" *ngIf="item.notice_type == 'Medium'">
                                  <div class="row">
                                  <div class="col-lg-10">
                                    <strong>{{ item.title }}</strong> 
                                    <br/>{{ item.description }}
                                  </div>
                                  <div class="col-lg-2">
                                    <span class="pull-right text-success readMore">Read</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="notice notice-info col-lg-12" *ngIf="noticeList.length <= 0">
                                  No notice has been added.
                            </div>

                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
    </div>

    <div class="col-lg-12">
        <div class="card border-top-primary border-top-3 mb-3">
            <div class="card-header bg-blue card-title"><strong><i class="fa fa-braille"></i> My Leave Balance</strong></div>
            <div class="card-body text-dark">
                <div class="row">
                    <div class="col-sm-12 table-responsive" *ngIf="is_loaded">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Leave Type</th>
                                    <th>Total Days</th>
                                    <th>Avail Days</th>
                                    <th>Remaining</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of leaveBalanceList; let i = index;">
                                    <td>{{ item.leave_title }} ({{ item.leave_short_code }})</td>
                                    <td>{{ item.total_days | number : '1.2-2' }}</td>
                                    <td>{{ item.availed_days | number : '1.2-2' }}</td>
                                    <td>{{ item.remaining_days | number : '1.2-2' }}</td>
                                </tr>
                                <tr *ngIf="leaveBalanceList.length <= 0">
                                    <td colspan="4">No Leave Balance added</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<block-ui></block-ui>