.align-items-center {
    align-items: center !important;
}

.login-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.link-href{
    cursor: pointer;
}

tr:first-child>td>.fc-day-grid-event {
    margin-top: 2px;
}
a:not([href]):not([tabindex]) {
    text-decoration: none;
}
.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close, a[data-goto] {
    cursor: pointer;
}
.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
    box-sizing: content-box;
}
.fc-day-grid-event {
    margin: 1px 2px 0;
    padding: 0 1px;
}
.fc-event, .fc-event:hover {
    color: #fff !important;
}
.fc-event, .fc-event-dot {
    background-color: #008cd1 !important;
}
.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #008cd1;
}

a:not([href]):not([tabindex]) {
    color: #fff !important;
    text-decoration: none;
}

.text-hilighted-bg{
    background-color: lemonchiffon;
}

.text-value{
    font-weight: 900;
    font-size: 19px;
}

// *************************** Notice Board ****************************

.notice:first-child{
    margin-top:10px;
    }
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.notice>.desc{
    display:none;
    }
.readMore{
    cursor:pointer;
}

// *************************** End of Notice Board ****************************