.align-items-center {
    align-items: center !important;
}

.login-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.link-href{
    cursor: pointer;
}

tr:first-child>td>.fc-day-grid-event {
    margin-top: 2px;
}
a:not([href]):not([tabindex]) {
    text-decoration: none;
}
.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close, a[data-goto] {
    cursor: pointer;
}
.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
    box-sizing: content-box;
}
.fc-day-grid-event {
    margin: 1px 2px 0;
    padding: 0 1px;
}
.fc-event, .fc-event:hover {
    color: #fff !important;
}
.fc-event, .fc-event-dot {
    background-color: #008cd1 !important;
}
.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #008cd1;
}

a:not([href]):not([tabindex]) {
    color: #fff !important;
    text-decoration: none;
}