<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-primary">
          <h5><i class="fa fa-list"></i> Leave Balance List</h5> 
          <button class="btn btn-square btn-success btn-sm btn-sm-custom float-right" (click)="addBalanceModal.show()"><i class="fa fa-plus"></i> Add Leave Balance</button>
          <ng-select [items]="employeeList" bindLabel="name" class="col-lg-2 form-control-sm float-right fs-top"
            bindValue="id" [(ngModel)]="employee_id" (change)="onChangeEmployee($event)" placeholder="Select Employee">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span><strong>{{ item.name }} - {{item.email}}</strong></span>
                </ng-template>
          </ng-select>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Leave Type</th>
                <th>Total Days</th>
                <th>Avail Days</th>
                <th>Remmaining</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leaveBalanceList; let i = index;">
                <td>{{ item.leave_title }} ({{ item.leave_short_code }})</td>
                <td>{{ item.total_days }}</td>
                <td>{{ item.availed_days ? item.availed_days : '-' }}</td>
                <td>{{ item.remaining_days ? item.remaining_days : '-' }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="editItem(item)"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                    <button class="btn btn-warning btn-sm ml-1 mr-1" (click)="editLeaveBalanceItem(item)"><i class="fa fa-cut"></i> Cut</button>
                    <button class="btn btn-warning btn-sm" *ngIf="item.has_cutting_history" (click)="viewExplanation(item.cutting_explanation)"><i class="fa fa-eye"></i></button>
                </td>
              </tr>
              <tr *ngIf="leaveBalanceList.length <= 0">
                <td colspan="5">No Leave Balance added</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            {{ leaveBalanceList.length }} Rows
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>

<div bsModal #addEmployeeLeaveBalanceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="entryForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Total Days</label>
                <div class="col-md-9">
                    <input type="number" formControlName="total_days" [ngClass]="{ 'is-invalid': submitted && f.total_days.errors }" id="text-input" name="text-input" class="form-control" placeholder="Total Days">
                    <div *ngIf="submitted && f.total_days.errors" class="invalid-feedback">
                      <span *ngIf="f.total_days.errors.required" class="text-danger"> Total Days is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Availed Days</label>
                <div class="col-md-9">
                    <input type="number" formControlName="availed_days" [ngClass]="{ 'is-invalid': submitted && f.availed_days.errors }" id="text-input" name="text-input" class="form-control" placeholder="Total Availed Days">
                    <div *ngIf="submitted && f.availed_days.errors" class="invalid-feedback">
                      <span *ngIf="f.availed_days.errors.required" class="text-danger"> Total Availed Days is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Remaining Days</label>
                <div class="col-md-9">
                    <input type="number" formControlName="remaining_days" [ngClass]="{ 'is-invalid': submitted && f.remaining_days.errors }" id="text-input" name="text-input" class="form-control" placeholder="Remaining Days">
                    <div *ngIf="submitted && f.remaining_days.errors" class="invalid-feedback">
                      <span *ngIf="f.remaining_days.errors.required" class="text-danger"> Remaining Days is required</span>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-info" (click)="onFormSubmit()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #addBalanceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addBalanceForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Employee</label>
                <div class="col-md-9">
                    <ng-select [items]="employeeList" bindLabel="name" 
                     bindValue="id" formControlName="employee_id" placeholder="Select Employee" 
                      [ngClass]="{ 'is-invalid': submitted && bf.employee_id.errors }" >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <span><strong>{{ item.name }}</strong> - {{item.email}}</span>
                      </ng-template>
                     </ng-select>
                    <div *ngIf="submitted && bf.employee_id.errors" class="error-text">
                      <span *ngIf="bf.employee_id.errors.required" class="text-danger"> Employee is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Employment Type</label>
                <div class="col-md-9">
                    <ng-select [items]="employmentList" bindLabel="type" 
                     bindValue="id" formControlName="employment_type_id" placeholder="Select Employment Type"
                      [ngClass]="{ 'is-invalid': submitted && bf.employment_type_id.errors }" >
                     </ng-select>
                    <div *ngIf="submitted && bf.employment_type_id.errors" class="error-text">
                      <span *ngIf="bf.employment_type_id.errors.required" class="text-danger"> Employment Type is required</span>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-info" (click)="onAddBalanceFormSubmit()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #viewExplanationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-warning modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="explanationModalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body table-responsive">
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning"><strong> <i class="fa fa-cut"></i> Cutting List</strong></li>
            </ul>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Note</th>
                        <th>Day(s)</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of explanationList; let i = index;">
                        <td>{{ item.note }}</td>
                        <td>{{ item.total_cutting_days }}</td>
                        <td>{{ item.created_at | date:'fullDate' }}</td>
                        <td>
                          <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Tooltip on top" (click)="resolveCutting(item)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="explanationModalHide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #cutEmployeeLeaveBalanceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="balanceEntryForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="total_cutting_days">Total Days</label>
                <div class="col-md-9">
                    <input type="number" formControlName="total_cutting_days" [ngClass]="{ 'is-invalid': submitted && lf.total_cutting_days.errors }" id="total_cutting_days" class="form-control" placeholder="Total Cutting Days">
                    <div *ngIf="submitted && lf.total_cutting_days.errors" class="invalid-feedback">
                      <span *ngIf="lf.total_cutting_days.errors.required" class="text-danger"> Total Cutting Days is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="cutting_note">Note</label>
                <div class="col-md-9">
                    <input type="text" formControlName="note" [ngClass]="{ 'is-invalid': submitted && lf.note.errors }" id="cutting_note" name="cutting_note" class="form-control" placeholder="Enter Notes">
                    <div *ngIf="submitted && lf.note.errors" class="invalid-feedback">
                      <span *ngIf="lf.note.errors.required" class="text-danger"> Note is required</span>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-info" (click)="onCuttingLeaveBalanceFormSubmit()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>